<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80605808741-9d9tdkobo2705802p8uv6lfmh3kho50e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80605808741-9d9tdkobo2705802p8uv6lfmh3kho50e</string>
	<key>API_KEY</key>
	<string>AIzaSyA5M-c0u45x9gneu6fGoUuz_cUBs57FGbk</string>
	<key>GCM_SENDER_ID</key>
	<string>80605808741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lawlessthomas.WhatAreTheOdds</string>
	<key>PROJECT_ID</key>
	<string>whataretheodds-6b624</string>
	<key>STORAGE_BUCKET</key>
	<string>whataretheodds-6b624.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80605808741:ios:5cf3af5f1c4f2cb2631e8c</string>
</dict>
</plist>